/* MEDIA QUERYS */
/* ES IMPORTANTE QUE LAS MEDIAS ESTEN AL FINAL DEL ARCHIVO */
/* SOLO DEJAMOS LOS @IMPORTS */
/*//////////////////PRINCIPALES/////////////////////*/
body {
  background-color: white; }

body::-webkit-scrollbar {
  width: 12px; }

body::-webkit-scrollbar-track {
  background: #d6d6d6; }

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: 3px solid #d6d6d6; }

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  text-align: left; }

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-align: center; }

h5 {
  text-align: center;
  font-size: 10px; }

iframe {
  border-radius: 15px;
  box-shadow: 5px 10px 18px #b3b3b3; }

.body {
  background-color: #000; }

/*//////////////////CABECERA/////////////////////*/
/* .header{
    background-color: $negro;
    height: $prc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    position: relative;
    border-bottom: 1px solid #6b6b6b;
}

.header__contenedor{
    max-width: 1200px;
    margin: 0 $auto;
    height: $prc;
    display: $f;
    justify-content: space-evenly;
    align-items: center;
}

.header__icono{
    height: $cien;
    width: $cien;
}

.header__icono img{
    height: $prc;
}
/*/
/*//////////////////BOTONERA/////////////////////*/
/* .nav{
    text-align: center;

    &__lista{
        display: $f;
        gap: 2rem;
        list-style: none;
        flex-wrap: wrap;
    }
    &__item{
        margin-left: 2rem;
    }
    &__enlace{
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}  */
/* .nav__lista{
    display: $f;
    gap: 2rem;
    list-style: none;
    flex-wrap: wrap;
}

.nav__item{
    margin-left: 2rem;
}

.nav__enlace{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
.oscuro {
  background-color: #000 !important;
  border-bottom: 1px solid; }

.imagenh img {
  height: 100%; }

.imagenh {
  width: 100px;
  height: 100px;
  /*     height: 100px;
    width: 100px;  */ }

.variacion {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .4s;
  color: white !important; }
  .variacion:hover {
    background-size: 100% 1px; }
  .variacion:focus {
    background-size: 100% 1px; }

/* .variacion:hover, .variacion:focus {
    background-size: $prc 1px;
} */
#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1; }

.contenedor {
  position: relative;
  z-index: 99;
  opacity: .90; }

.principal {
  width: auto;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px; }

.principal__titulo {
  width: auto;
  margin-top: 150px;
  padding: 30px;
  letter-spacing: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  animation: separacion 6000ms ease infinite; }

@keyframes separacion {
  0% {
    letter-spacing: 5px; }
  50% {
    letter-spacing: 15px; }
  100% {
    letter-spacing: 5px; } }

.principal__texto {
  width: auto;
  margin-bottom: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  animation: mov 6000ms ease infinite; }

@keyframes mov {
  0% {
    filter: none; }
  33% {
    transform: translatey(0.2vw); }
  50% {
    filter: blur(1px); }
  66% {
    transform: translatey(-0.2vw); }
  100% {
    filter: none;
    transform: translatex(0); } }

.principal__flecha {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  animation: flec 3000ms ease infinite; }

@keyframes flec {
  0% {
    transform: translatey(0); }
  50% {
    transform: translatey(-1vw); }
  100% {
    transform: translatey(0); } }

.principal__2 {
  width: auto;
  height: 600px;
  background-color: #0c0c0c;
  border-top: 1px solid #312828;
  border-bottom: 1px solid #312828;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px; }

.principal__2imagen {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.principal__2imagen img {
  width: 700px; }

.principal__2texto {
  width: 400px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.principal__2texto h2 {
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace; }
  .principal__2texto h2:hover {
    text-shadow: 0.2em 0.1em #3f3f3f; }

.principal__2texto h3 {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace; }
  .principal__2texto h3:hover {
    text-shadow: 0.2em 0.1em #3f3f3f; }

.principal__3 {
  width: auto;
  height: 600px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px; }

.principal__3imagen {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.principal__3imagen img {
  width: 700px;
  border-radius: 10px;
  /*     width: 700px;
    border-radius: 10px; */ }

.principal__3texto {
  width: 400px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.principal__3texto h2 {
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace; }
  .principal__3texto h2:hover {
    text-shadow: 0.2em 0.1em #3f3f3f; }

.principal__3texto h3 {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace; }
  .principal__3texto h3:hover {
    text-shadow: 0.2em 0.1em #3f3f3f; }

.principal__4 {
  width: auto;
  height: auto;
  padding: 40px;
  background-color: #0c0c0c;
  border-top: 1px solid #312828; }

.nosotros {
  width: auto;
  height: 600px;
  background-image: url(../imagenes/imprimiendo.jpg);
  background-repeat: no-repeat;
  image-rendering: auto;
  background-size: 100% 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px; }

.nosotros__titulo {
  width: auto;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  color: white; }

.nosotros__titulo h1 {
  text-shadow: 0.1em 0.1em #333; }

.nosotros__texto {
  width: 500px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center; }

.nosotros__texto h4 {
  text-shadow: 0.1em 0.1em #333; }

.fondo {
  padding: 20px; }

.espacio {
  padding: 20px; }

.alineacion {
  text-align: center; }

.bem {
  width: auto;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

.espacio {
  padding: 10px; }

.bem__titulo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
  margin-bottom: 30px; }

.bem__contenedor {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  flex-wrap: wrap; }

.tarjeta {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  height: auto;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  border: 5px double black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  cursor: pointer; }
  .tarjeta:hover {
    box-shadow: 3px 3px 20px white;
    border: 5px double white; }

/* .tarjeta:hover{
    box-shadow: 3px 3px 20px white;
    border: 5px double white;
} */
.tarjeta__imagen {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.tarjeta__titulo {
  color: #1f3251;
  font-size: 22px;
  margin: 0 auto;
  border-top: 1px solid #000; }

.impresoras {
  width: auto;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

.impresoras__titulo {
  width: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white; }

.impresoras__contenedor, .impresoras__contenedor--derecha {
  width: auto;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.impresoras__imagen {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.impresoras__imagen img {
  border-radius: 10px;
  border: 5px double black; }

.impresoras__texto {
  width: 300px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white; }

.contacto {
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column; }

.contacto__titulo {
  width: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #FFFFFF; }

.contacto__contenedor {
  width: 800px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.contacto__contenido {
  width: auto;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap; }

.contacto__contenido1 {
  width: auto;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.contacto__contenido2 {
  width: auto;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #FFFFFF;
  flex-wrap: wrap; }

.contacto__contenido4 {
  width: auto;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.cuadro {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px; }

.espacio {
  margin-top: 20px; }

label {
  color: #FFFFFF; }

.footer {
  height: auto;
  background-color: black;
  border-top: 1px solid #6b6b6b; }

.footer__contenedor {
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 40px); }

.footer__copy {
  width: auto;
  height: auto;
  /*     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; */
  /* flex-wrap: wrap-reverse; */
  justify-self: center;
  align-self: center;
  color: white;
  grid-column: 1;
  grid-row: 3; }

.footer__titulo {
  width: auto;
  height: auto;
  /*     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
  /* flex-wrap: wrap-reverse; */
  justify-self: center;
  align-self: center;
  color: white;
  grid-column: 2;
  grid-row: 2; }

.footer__redes {
  width: auto;
  height: auto;
  /*     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline; */
  /* flex-wrap: wrap-reverse; */
  justify-self: center;
  align-self: center;
  grid-column: 3;
  grid-row: 1; }

.fa-instagram {
  color: #af00db; }

.fa-whatsapp {
  color: #00ff2a; }

.fa-envelope {
  color: #ff1616; }

.fa-instagram {
  padding: 10px; }

.fa-whatsapp {
  padding: 10px; }

.fa-envelope {
  padding: 10px; }

/*  PANTALLA GRANDE */
@media screen and (min-width: 1400px) {
  .principal {
    height: 850px; } }

/* TABLET */
@media screen and (max-width: 1023px) {
  h5 {
    font-size: 10px;
    text-align: center; }
  .principal {
    width: auto;
    height: 500px;
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-top: 0px;
    margin-bottom: 0px; }
  .principal__titulo {
    width: auto;
    height: auto;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF; }
  .principal__2 {
    height: 400px; }
  .principal__2imagen {
    width: 350px;
    padding: 10px; }
  .principal__2imagen img {
    width: 350px; }
  .principal__2texto {
    width: auto;
    padding: 10px; }
  .principal__3 {
    height: 400px; }
  .principal__3imagen {
    width: 350px;
    padding: 10px; }
  .principal__3imagen img {
    width: 350px; }
  .principal__3texto {
    width: auto;
    padding: 10px; }
  .nosotros {
    background-size: 130% 400px; }
  .nosotros {
    height: 300px;
    background-size: 100% 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px; }
  .nosotros__titulo {
    width: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; }
  .nosotros__titulo h1 {
    font-size: 32px;
    text-shadow: 0.1em 0.1em #333; }
  .nosotros__texto {
    width: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; }
  .nosotros__texto h3 {
    font-size: 18px;
    text-align: center; }
  /*  .nosotros__2{
        width: $auto;
        height: 500px;

        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .nosotros__2imagen{
        width: $auto;
        height: $auto;
        padding: 0px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
    
    .nosotros__2imagen img{
        width: 520px;
    }
    
    .nosotros__2texto{
        width: $auto;
        height: $auto;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    } */
  .bem__titulo h1 {
    font-size: 24px;
    text-align: center; }
  .bem__contenedor {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    flex-wrap: inherit; }
  .tarjeta__titulo {
    font-size: 16px; }
  .impresoras__titulo h1 {
    font-size: 24px; }
  .impresoras__contenedor, .impresoras__contenedor--derecha {
    flex-wrap: initial;
    justify-content: center; }
  .impresoras__contenedor--derecha {
    flex-wrap: initial;
    justify-content: center; }
  .impresoras__imagen {
    width: 150px;
    height: 150px; }
  .impresoras__texto {
    width: 220px;
    height: 220px;
    padding: 10px;
    font-size: 14px; }
  .contacto__titulo h1 {
    font-size: 24px; }
  .contacto__contenedor {
    width: 500px;
    margin: auto;
    justify-content: center; }
  .contacto__contenido1 {
    width: 450px;
    padding: 10px;
    margin: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .contacto__contenido1 input {
    width: 150px; }
  .contacto__contenido2 {
    width: 450px;
    padding: 10px;
    margin: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .contacto__contenido3 {
    width: 450px;
    padding: 0px;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .contacto__contenido4 {
    width: 450px;
    padding: 0px;
    margin: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  textarea {
    width: 400px; } }

/* MOBILE */
@media screen and (max-width: 599px) {
  ul {
    padding: 0px; }
  h5 {
    font-size: 8px;
    text-align: center; }
  .fa-instagram {
    color: #af00db;
    padding: 5px; }
  .fa-whatsapp {
    color: #00ff2a;
    padding: 5px; }
  .fa-envelope {
    color: #ff1616;
    padding: 5px; }
  .footer__copy h5 {
    font-size: 10px; }
  .principal {
    width: auto;
    height: 500px;
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-top: 0px;
    margin-bottom: 0px; }
  .principal__titulo {
    width: auto;
    height: auto;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF; }
  @keyframes separacion {
    0% {
      letter-spacing: 5px; }
    50% {
      letter-spacing: 10px; }
    100% {
      letter-spacing: 5px; } }
  .principal__2 {
    width: auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .principal__2imagen {
    width: auto; }
  .principal__2imagen img {
    width: 300px; }
  .principal__2texto {
    width: auto; }
  .principal__2texto h2 {
    font-size: 20px; }
  .principal__2texto h3 {
    font-size: 16px; }
  .principal__3 {
    width: auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .principal__3imagen {
    width: auto; }
  .principal__3imagen img {
    width: 300px; }
  .principal__3texto {
    width: auto; }
  .principal__3texto h2 {
    font-size: 20px; }
  .principal__3texto h3 {
    font-size: 16px; }
  .trabajos {
    margin-top: 5px; }
  .nosotros {
    height: 300px;
    background-size: 100% 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px; }
  .nosotros__titulo {
    width: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white; }
  /*     .nosotros__texto{
        width: $auto;
        padding: 0px;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .nosotros__texto h3{
        font-size: 10px;
        text-align: center;
    } */
  .nosotros__texto {
    width: auto;
    padding: 0px;
    color: white;
    text-align: center; }
  .nosotros__texto h4 {
    font-size: 14px; }
  /*  .nosotros__2{
        width: $auto;
        height: 500px;

        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .nosotros__2imagen{
        width: $auto;
        height: $auto;
        padding: 0px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
    
    .nosotros__2imagen img{
        width: 280px;
    }
    
    .nosotros__2texto{
        width: $auto;
        height: $auto;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
 */
  .bem__contenedor {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    flex-wrap: wrap; }
  .tarjeta__titulo {
    font-size: 16px; }
  .impresoras__contenedor, .impresoras__contenedor--derecha {
    flex-wrap: initial;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; }
  .impresoras__contenedor--derecha {
    flex-wrap: initial;
    justify-content: center; }
  .impresoras__imagen {
    width: 200px;
    height: 200px;
    flex-direction: column;
    justify-content: center; }
  .ender {
    width: 200px;
    height: 200px; }
  .impresoras__texto {
    width: 200px;
    height: auto;
    padding: 10px;
    font-size: 14px;
    flex-direction: column;
    justify-content: center; }
  .contacto__contenedor {
    width: 300px;
    margin: auto;
    justify-content: center; }
  .contacto__contenido1 {
    width: 230px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center; }
  .contacto__contenido2 {
    width: 230px;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .contacto__contenido3 {
    width: 230px;
    padding: 0px;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .contacto__contenido4 {
    width: 250px;
    padding: 0px;
    margin: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  textarea {
    width: 240px; } }
