.footer{
    height: $auto;

    background-color: $negro;
    border-top: 1px solid #6b6b6b;
}

.footer__contenedor{
    margin: 0 $auto;
    height: $prc;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
   	grid-template-rows: repeat(3, 40px); 
}

.footer__copy{
    width: $auto;
    height: $auto;

/*     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; */
    /* flex-wrap: wrap-reverse; */
    justify-self: center;
    align-self: center;
    color: white;
    grid-column: 1;
    grid-row: 3;
}

.footer__titulo{
    width: $auto;
    height: $auto;

/*     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    /* flex-wrap: wrap-reverse; */
    justify-self: center;
    align-self: center;
    color: white;

    grid-column: 2;
    grid-row: 2;
}

.footer__redes{
    width: $auto;
    height: $auto;

/*     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline; */
    /* flex-wrap: wrap-reverse; */
    justify-self: center;
    align-self: center;

    grid-column: 3;
    grid-row: 1;
}




@each $red, $color in $redes{
    .fa-#{$red}{
        color: $color;
    }
}

.fa-instagram{
    padding: map-get($estilos, padding);
}


.fa-whatsapp{
    padding: map-get($estilos, padding);
}

.fa-envelope{
    padding: map-get($estilos, padding);
} 