/*//////////////////CABECERA/////////////////////*/
/*//////////////////BOTONERA/////////////////////*/
.oscuro{
    background-color: #000 !important;
    border-bottom: 1px solid;
  }

.imagenh img {
    height: 100%; }
  
.imagenh{
    @include sizes(100px, 100px);
}

.variacion{
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% $prc;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s;
    color: white !important;

    &:hover{
        background-size: $prc 1px;
    }
    &:focus {
        background-size: $prc 1px;
    }

}