#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
  }
  
   .contenedor{
    position: relative;
    z-index: 99;
    opacity: .90;
  } 

.principal {
    width: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px; }
  
  .principal__titulo {
    width: auto;
    padding: 30px;
  
    letter-spacing: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
  
    animation: separacion 6000ms ease infinite;
  }
  
  @keyframes separacion{
    0% {
      letter-spacing: 5px;
    }
    50%{
      letter-spacing: 15px;
    }
    100%{
      letter-spacing: 5px;
    }
  }
  
  .principal__texto{
    width: auto;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    color: white;
  
    animation:  mov 6000ms ease infinite;
  }
  
  @keyframes mov{
    0% {
    filter: none;
    }
    33% {
      transform: translatey(0.2vw);
      }
    50%{
      filter: blur(1px);
    }
    66% {
      transform: translatey(-0.2vw);
      }
    100%{
      filter: none;
      transform: translatex(0);
    }
  }

.principal__2{
    width: $auto;
    height: 600px;
    background-color: #0c0c0c;
    border-top: 1px solid rgb(49, 40, 40);
    border-bottom: 1px solid rgb(49, 40, 40);

    display: $f;
    flex-direction: $r;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.principal__2imagen{
    width: 700px;

    display: $f;
    flex-direction: $c;
    justify-content: center;
    align-items: center;
}

.principal__2imagen img{
    width: 700px;
}

.principal__2texto{
    width: 400px;

    text-align: center;
    color: white;
    display: $f;
    flex-direction: $c;
    justify-content: center;
    align-items: center;
}

.principal__2texto h2{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    &:hover{
        text-shadow: 0.2em 0.1em rgb(63, 63, 63);
    }
}


.principal__2texto h3{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    &:hover{
        text-shadow: 0.2em 0.1em rgb(63, 63, 63);
    }
}

.principal__3{
    width: $auto;
    height: 600px;
    padding: 10px;

    display: $f;
    flex-direction: $r;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.principal__3imagen{
    width: 700px;

    display: $f;
    flex-direction: $c;
    justify-content: center;
    align-items: center;
}

.principal__3imagen img{
    @include imagen(700px, 10px);
/*     width: 700px;
    border-radius: 10px; */
}

.principal__3texto{
    width: 400px;

    text-align: center;
    color: white;
    display: $f;
    flex-direction: $c;
    justify-content: center;
    align-items: center; 
}

.principal__3texto h2{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    &:hover{
        text-shadow: 0.2em 0.1em rgb(63, 63, 63);
    }
}


.principal__3texto h3{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    &:hover{
        text-shadow: 0.2em 0.1em rgb(63, 63, 63);
    }
}

.principal__4{
    width: $auto;
    height: $auto;
    padding: 40px;

    background-color: #0c0c0c;

    border-top: 1px solid rgb(49, 40, 40);
}